body-background = #D7DAE5
color-background = #D7DAE5
color-self-nick = #6B7D7D
color-other-nick = #465362

//bases
base03 = #002b36
base02 = #073642
base01 = #586e75
base00 = #586e75
base0  = #839496
base1  = #93a1a1
base2  = #eee8d5
base3  = #fdf6e3

//accents
sol-yellow  = #b58900
sol-orange  = #cb4b16
sol-red     = #dc322f
sol-magenta = #d33682
sol-violet  = #6c71c4
sol-blue    = #268bd2
sol-cyan    = #2aa198
sol-green   = #859900

//font
font-size = 20px
