*
  background: black

container-col()
  display flex
  flex-direction column

.content
  container-col()

.logo-container
  container-col()
  background red

.login-container
  container-col()
  background blue

.login-form
  container-col()
  align-items: center

.login-input
  width 50%
