<!DOCTYPE html>
<html ng-app="PopUpJoinApp">
<head>
  <script src="../global.js" charset="utf-8"></script>
  <title>Join a Channel</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
  <script src="../../static/lib/angular.min.js"></script>
  <script src="./main.js" charset="utf-8"></script>
</head>
<!-- vm means "view model" -->
<body ng-controller="PopUpJoinController as vm">
  <div class="wrapper content">
    <form class="login-form" ng-sumbit="vm.join()" ng-model-options="{ debounce: 150 }">
      <input type="text" class="login-input" ng-model="vm.channelName">
      <button
        type="button"
        class="login-input"
        ng-click="vm.join()"
        ng-model-options="{ debounce: 150 }">
        Join Channel
      </button>
      <button type="button" class="login-input" ng-click="vm.close()">Close</button>
      <select class="" name="channel">
        <optgroup label="default">
        <!-- <option ng-reapeat="opt in vm.channelList" ng-model="opt">{{opt}}</option> -->
        </optgroup>
      </select>
    </form>
  </div>
  {{channelList}}
</body>
</html>
