<!DOCTYPE html>
<html ng-app="login">
<head>
  <meta charset="UTF-8">
  <script src="../global.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../../static/assets/font-awesome/css/font-awesome.min.css">
  <script src="../../static/lib/angular.min.js"></script>
  <script src="./js/login.js"></script>
</head>
<body>
  <div class="content" ng-controller="LoginController as login">
    <div class="logo-container">
      <img class="login-logo-img" src="../../static/assets/img/logo.jpg" alt="logo isn't loading 😖" />
    </div>
    <div class="login-container">
      <form class="login-form">
        <ul class="login-list">
          <li class="login-list-item">
            <h3>Host</h3>
            <input type="text" ng-model="login.hostAddr" class="login-input" required>
          </li>
          <li class="login-list-item">
            <h3>Real Name</h3>
            <input type="text" ng-model="login.realName" class="login-input">
          </li>
          <li class="login-list-item">
            <h3>Nickname</h3>
            <input type="text" ng-model="login.nickName" class="login-input" required>
          </li>
          <li class="login-list-item">
            <h3>Password</h3>
            <input type="password" ng-model="login.nickPass" class="login-input">
          </li>
          <li class="login-list-item">
            <button ng-click="login.connectionTry()" class="login-button">connect</button>
          </li>
        </ul>
      </form>
    </div>
    <i class="login-loading fa fa-spinner fa-spin fa-3x" ng-show="login.loading"></i>
    <i class="login-settings fa fa-cogs fa-3x" ng-click="login.openSettings()"></i>
  </div>
</body>
</html>
