<!DOCTYPE html>
<html ng-app="chat">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="../lib/jquery-1.11.3.min.js"></script>
  <script src="../lib/angular.min.js"></script>
  <script src="../js/chat.js"></script>
</head>
<body ng-controller="ChatController as chat">
  <div class="tab-container">
    <div ng-repeat="(name, channel) in channels" class="tab tab-active-{{channel.active}}"
      ng-click="makeActive(name)">
      <div class="tab-title" data-name="{{name}}"></div>
      <button type="button" ng-click="leaveChannel(name)" class="tab-close-icon"></button>
    </div>
    <button type="button" class="tab-join" ng-click=""> + </button> <!-- add channel button -->
  </div>
  <div class="content wrapper">
    <div id="messages-container" ng-controller="ChannelController as channel">
      <ul id="messages">
        <li class="message" ng-repeat="message in channels[active].messages">
          <span class="nick {{message.typeNick}}">{{message.nick}}</span>
          <span class="{{message.typeMessage}}">{{message.text}}</span>
        </li>
      </ul>
    </div>
    <div id="input-container">
      <form id="input-form" ng-submit="submitMessage()" >
        <input type="text" id="input-text" ng-model="currentMessage">
        <button type="button" id="input-button" ng-click="submitMessage()">send</button>
      </form>
    </div>
  </div>
</body>
</html>
