<!DOCTYPE html>
<html ng-app="chat">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="../lib/jquery-1.11.3.min.js"></script>
  <script src="../lib/angular.min.js"></script>
  <script src="../js/chat.js"></script>
</head>
<body ng-controller="ChatController as chat">
  <div class="tab-container">
    <button class="tab">
      <div class="tab-title" data-name="#botwar"></div>
      <div class="tab-close-icon"></div>
    </button>
    <button class="tab tab-active">
      <div class="tab-title" data-name="#botwar"></div>
      <div class="tab-close-icon"></div>
    </button>
  </div>
  <div class="content wrapper">
    <div id="messages-container">
      <ul id="messages">
        <li class="message" ng-repeat="message in chat.messages">
          <span class="nick {{message.typeNick}}">{{message.nick}}</span>
          <span class="{{message.typeMessage}}">{{message.text}}</span>
        </li>
      </ul>
    </div>
    <div id="input-container">
      <form id="input-form" ng-submit="chat.submitMessage()" >
        <input type="text" id="input-text" ng-model="chat.currentMessage">
        <button type="button" id="input-button" ng-click="chat.submitMessage()">send</button>
      </form>
    </div>
  </div>
</body>
</html>
