<!DOCTYPE html>
<html ng-app="PopUpJoinApp">
<head>
  <meta name="Author" content="" />
  <title>Join a Channel</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../js/controllers/popup-join-controller.js" charset="utf-8"></script>
</head>
<body ng-controller="PopUpJoinController">
  <div class="wrapper content">
    <form class="login-form" ng-sumbit="join()" ng-model-options="{ debounce: 150 }">
      <input type="text" class="login-input" ng-model="channelName">
      <button
        type="button"
        class="login-input"
        ng-click="join()"
        ng-model-options="{ debounce: 150 }">
        Join Channel
      </button>
      <button type="button" class="login-input" ng-click="close()">Close</button>
    </form>
  </div>
</body>
</html>
