input
  font-size font-size
  padding .2em
  border 2px solid base01
  background base2

button
  font-size font-size
  border 2px solid base03
  border-radius .2em
  background base02
  color base0
  padding 5px
