*
  padding 0
  margin 0
  outline 0

.outline
  border 0.1em solid sol-magenta

html
body
  height 100%
  width 100%
  overflow hidden
  font-family sans-serif
  background base3

prattle-content
  position absolute
  height 100%
  width 100%

  display block
  max-height 100%
  overflow scroll
  background base3

prattle-pane.horizontal
  display flex
  flex-flow row
  max-width 100%

prattle-pane.horizontal.right
  justify-content flex-start

prattle-pane.horizontal.left
  justify-content flex-end

prattle-pane.horizontal.full
prattle-pane.horizontal.full
  height 100%

prattle-pane.vertical
  display flex
  flex-flow column

prattle-pane.vertical.top
  justify-content flex-start

prattle-pane.vertical.bottom
  justify-content flex-end;

prattle-pane.center
  justify-content center
