*
  padding 0
  margin 0
  outline 0

.outline
  border .1em solid sol-magenta

html
body
  height 100%
  width 100%
  overflow hidden
  font-family sans-serif
  background base3

pr-content
  position absolute
  height 100%
  width 100%

  display block
  max-height 100%
  overflow scroll
  background base3

pr-pane.horizontal
  display flex
  flex-flow row
  max-width 100%

pr-pane.horizontal.right
  justify-content flex-start

pr-pane.horizontal.left
  justify-content flex-end

pr-pane.horizontal.full
  height 100%

pr-pane.vertical
  display flex
  flex-flow column

pr-pane.vertical.top
  justify-content flex-start

pr-pane.vertical.bottom
  justify-content flex-end;

pr-pane.center
  justify-content center
