////////
//TABS//
////////

.tab-container
  position fixed
  top 0px
  right 0px
  left 0px
  container-row()
  background base01
  height 30px
  border-bottom 4px solid base1

.tab
  background base1
  border none
  border-left base0 3px solid
  border-bottom base0 1px solid
  display flex
  flex-direction row
  align-content center
  padding 10px

.tab::highlight
  display none

.tab-title
  color base02
  text-align center

.tab-title::before
  content attr(data-name)
  font-size initial

.tab-close-icon
  padding-left 5px
  // padding-bottom 5px
  border none
  background none
  color base01
  font-size 14px
  height 100%

.tab-close-icon:hover
  color sol-red

.tab-close-icon::after
  content 'x'

.tab-active-true
  color base00
  background base3
  border-bottom none
  border-left sol-yellow 3px solid

.tab-active-false
  none

.tab-join
  border none
  background base1
  font-size font-size
  padding-left 5px
  padding-right 5px
  color base03
  border base01 solid 2px
  border-bottom none
  margin-left 5px

.tab-join::highlight
  display none
