.tree-view
  background base0
  overflow scroll
  max-height
  &:highlight
    none

prattle-channel
  color base02

//CHANNEL LIST
.channel-list
  flex-grow 20
  margin .8em

.channel
  list-style-type none
  &:highlight
    display none
  &:hover
    cursor pointer

.channel-active-true
  color base02
  font-weight bold

.channel-active-false
  color base02

.channel-unread
  font-size .8em
  background base01
  padding .2em
  border-radius .5em

.channel:hover.channel-close
  display inline-block

.channel-close
  cursor pointer
  color sol-red

// CHANNEL LIST
.channel-nick-list
  list-style-type none
  padding-left 1.5em

// CHANNEL BUTTONS
.channel-buttons
  flex-grow 1
  flex-direction row
  justify-content center
  align-items stretch
  background base01

.channel-button
  color base03
  background sol-yellow
  padding .2em
  align-self flex-start
  cursor pointer
