/////////
//LOGIN//
/////////

.logo-container
  container-col()
  background base3
  color base03

.login-container
  container-col()
  background base2
  // padding

.login-form
  container-col()
  align-items: center

.login-input
  width 50%
  font-size 20px
  font-color base03
  border none
  border-bottom base03 1px solid
  padding 0.5em 1.5em
  background base1

.login-logo-container
  width: 200px;
  height: 120px;

// .login-logo-container img
  // width: auto;
  // height: auto;
