body-background = #D7DAE5
color-background = #D7DAE5
color-self-nick = #6B7D7D
color-other-nick = #465362

font-size = 20px

*
  padding 0px
  margin 0px
  font-family sans-serif

body
  background body-background

container()
  display flex

container-col()
  container()
  flex-direction column

container-row()
  container()
  flex-direction row

.content
  container-col()

.wrapper
  position absolute
  width 100%
  height 100%

/////////
//LOGIN//
/////////

.logo-container
  container-col()
  background cadetblue

.login-container
  container-col()
  background darkcyan
  padding

.login-form
  container-col()
  align-items: center

.login-input
  width 50%
  font-size 20px
  font-color black
  border none
  border-bottom black 1px solid
  padding 0.5em 1.5em
  background gray

////////
//CHAT//
////////

#messages-container
  overflow scroll
  margin 20px

#input-container
  container-row()
  align-self flex-end
  padding 25px

#messages
  font-size font-size
  list-style-type none

.message
  padding 0 10 //this does nothing for some reason

#input-form
  display flex
  justify-content space-between

#input-text
  flex-grow 10
  margin 3px
  font-size font-size

#input-button
  flex-grow 1
  margin 3px
  font-size font-size

.annoucment
  color gray
  display:table;
  margin:0px auto 0px auto;

.nick
  text-decoration bold

.self
  color color-self-nick

.other
  color color-other-nick
