@import './variables'
/*

base03 base02 base01 base00 base0 base1 base2 base3
dark <--------------------------------------> light
*/


*
  padding 0px
  margin 0px
  font-family sans-serif

body
  background base3

container()
  display flex

container-col()
  container()
  flex-direction column

container-row()
  container()
  flex-direction row

.content
  container-col()
  align-content stretch

.content-row
  container-row()

.wrapper
  position absolute
  width 100%
  height 100%

/////////
//LOGIN//
/////////

.logo-container
  container-col()
  background base3
  color base03

.login-container
  container-col()
  background base2
  // padding

.login-form
  container-col()
  align-items: center

.login-input
  width 50%
  font-size 20px
  font-color base03
  border none
  border-bottom base03 1px solid
  padding 0.5em 1.5em
  background base1

.login-logo-container
  width: 200px;
  height: 120px;

// .login-logo-container img
  // width: auto;
  // height: auto;

////////
//CHAT//
////////

#messages-container
  overflow scroll
  margin 20px

#input-container
  padding 15px
  // position relative
  // bottom 20

#messages
  font-size font-size
  list-style-type none
  li
    &:nth-child(odd)
      background base2

.message
  margin 0px 10px //this does nothing for some reason

#input-form
  container-row()
  justify-content space-around
  width 100%

#input-text
  flex-grow 10
  width 80%
  margin 3px
  font-size font-size
  border 2px solid base01
  background base2

#input-button
  flex-grow 1
  margin 3px
  font-size font-size
  border 2px solid base03
  border-radius 7px
  background base02
  color base0
  padding 5px

.annoucment
  color base01
  display table
  margin 0px auto 0px auto

.nick
  text-decoration underline
  font-family monospace

// .nick::after
  // content ':'

.self
  color sol-blue

.other
  color sol-cyan

////////
//TABS//
////////

.tab-container
  container-row()
  background base1
  height 30px

.tab
  background base1
  border none
  border-left base0 3px solid
  border-bottom base0 1px solid
  display flex
  flex-direction row
  align-content center
  padding 10px

.tab-title
  color base02
  text-align center

.tab-title::after
  content attr(data-name)
  font-size initial

.tab-close-icon
  // width 10px
  padding 5px

.tab-close-icon::before
  content 'x'

.tab-active
  color base00
  background base3
  border-bottom none
  border-left sol-yellow 3px solid
