<!DOCTYPE html>
<html ng-app="chat">
  <head>
    <meta charset="UTF-8">
    <script src="../global.js" charset="utf-8"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/assets/font-awesome/css/font-awesome.min.css">
    <!-- Libraries -->
    <script src="../../static/lib/jquery.min.js"></script>
    <script src="../../static/lib/angular.min.js"></script>
    <!-- Define angular module -->
    <script src="./js/chat.js"></script>
    <!-- Angular Controllers -->
    <script src="./js/controllers/controller.js"></script>
    <!-- Angular Directives -->
    <script src="./js/directives/message.js" charset="utf-8"></script>
    <script src="./js/directives/channel.js" charset="utf-8"></script>
    <!-- Angular Services -->
  </head>
  <body ng-controller="ChatController as chat">
    <prattle-content>
      <!-- Everything -->
      <prattle-pane class="horizontal full">
        <!-- Tree View -->
        <prattle-pane class="vertical tree-view">

          <!-- Channel Labels -->
          <prattle-pane class="vertical top channel-list">
            <div class="channel" ng-repeat="(name, channel) in chat.channels">
              <pr-channel
                channel="channel"
                make-active="chat.makeActive(name)"
                leave-channel="chat.leaveChannel(name)"
                toggle-nicks="chat.toggleNicks(name)">
              </pr-channel>
            </div>
          </prattle-pane>

          <!-- Channel Buttons -->
          <prattle-pane class="horizontal channel-buttons">
            <span class="channel-button" title="Open Settings">
              <i class="fa fa-cogs"></i>
            </span>
            <span class="channel-button" title="Join Channel" ng-click="popUp()">
              <i class="fa fa-plus"></i>
            </span>
            <span class="channel-button" title="Notification Sounds">
              <i class="fa fa-volume-up" ng-show="chat.notificationSounds"></i>
              <i class="fa fa-volume-off" ng-show="!chat.notificationSounds"></i>
            </span>
          </prattle-pane>
        </prattle-pane>

        <!-- Chat View -->
        <prattle-pane class="vertical chat-container">
          <!-- Topic -->
          <div class="topic">
            {{chat.active.topic}}
          </div>

          <!-- Messages Container -->
          <prattle-pane class="messages-container">

            <!-- Messages -->
            <div class="messages">
              <pr-message
                ng-repeat="message in chat.active.messages"
                class="message"
                nick="message.nick"
                self="message.self"
                type="message.type"
                text="message.text">
              </pr-message>
            </div>
          </prattle-pane>

          <!-- Input -->
          <prattle-pane class="horizontal input-container">
            <form id="input-form" ng-submit="chat.submitMessage()" >
              <!-- <input type="text" id="input-text" ng-model="chat.active.currentMessage"> -->
              <input type="textarea" id="input-text" ng-model="chat.active.currentMessage">
              <button type="button" id="input-button" ng-click="chat.submitMessage()">
                <i class="fa fa-paper-plane"></i> <!-- Used to say "send" but I'm pretty sure this is cooler-->
              </button>
            </form>
          </prattle-pane>
        </prattle-pane>
      </prattle-pane>
    </prattle-content>
  </body>
</html>
