<!DOCTYPE html>
<html ng-app="chat">
  <head>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- Libraries -->
    <script src="../../../static/lib/jquery-1.11.3.min.js"></script>
    <script src="../../../static/lib/angular.min.js"></script>
    <!-- Define angular module -->
    <script src="../js/chat.js"></script>
    <!-- Angular Controllers -->
    <script src="../js/controllers/controller.js"></script>
    <!-- Angular Directives -->
    <script src="../js/directives/message.js" charset="utf-8"></script>
    <script src="../js/directives/tab.js" charset="utf-8"></script>
    <script src="../js/directives/channel.js" charset="utf-8"></script>
    <!-- Angular Services -->
    <script src="../js/services/events.js" charset="utf-8"></script>
    <script src="../js/services/methods.js" charset="utf-8"></script>
  </head>
  <body ng-controller="ChatController as chat">
    <prattle-content class="horizontal">
      <prattle-layout-axis class="left full">

        <!-- Channel List -->
        <prattle-pane class="tree-view">
          <ul>
            <!-- Channel Buttons -->
            <prattle-pane class="channel-buttons">
              <span class="channel-gear"></span>
              <span class="channel-add" ng-click="popUp()"></span>
            </prattle-pane>
            <!-- Channel Labels -->
            <ul>
              <div class="channel" ng-repeat="(name, channel) in channels">
                <prattle-channel
                  channel="channel"
                  make-active="makeActive(name)"
                  leave-channel="leaveChannel(name)"
                  toggle-nicks="toggleNicks(name)">
                </prattle-channel>
              </div>
            </ul>
          </ul>
        </prattle-pane>
        <!-- Messages -->
        <prattle-pane class="messages-view">
          <prattle-pane class="vertical ">
            <div class="topic">
              {{active.topic}}
            </div>
            <!-- Messages -->
            <prattle-pane class="messages-container ">
              <ul class="">
                <!-- prattle-message is just an li -->
                <div ng-repeat="message in active.messages" class="">
                  <!-- Still have to do "self" and "type" -->
                  <prattle-message
                    nick="message.nick"
                    self="message.self"
                    type="message.type"
                    text="message.text">
                  </prattle-message>
                </div>
              </ul>
            </prattle-pane>

            <!-- Input -->
            <prattle-pane class="horizontal">
              <form id="input-form" ng-submit="submitMessage()" >
                <input type="text" id="input-text" ng-model="active.currentMessage">
                <button type="button" id="input-button" ng-click="submitMessage()">send</button>
              </form>
            </prattle-pane>

          </prattle-pane>
        </prattle-pane>
      </prattle-layout-axis>
    </prattle-content>
  </body>
</html>
