<!DOCTYPE html>
<html ng-app="PopupJoinApp">
<head>
  <script src="../global.js" charset="utf-8"></script>
  <title>Join a Channel</title>
  <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
  <script src="../../../static/lib/angular.min.js"></script>
  <script src="./main.js" charset="utf-8"></script>
</head>
<body ng-controller="PopupJoinController">
  <div class="wrapper content">
    <form class="login-form" ng-sumbit="join()" ng-model-options="{ debounce: 150 }">
      <input type="text" class="login-input" ng-model="channelName">
      <button
        type="button"
        class="login-input"
        ng-click="join()"
        ng-model-options="{ debounce: 150 }">
        Join Channel
      </button>
      <button type="button" class="login-input" ng-click="close()">Close</button>
      <button type="button" ng-click="refreshChannelList()">i:<i class="fa fa-refresh"></i></button>
      {{channellist}}
    </form>
  </div>
</body>
</html>
